node_modules
frontend/node_modules
frontend/dist
frontend/**/*.js
!frontend/vite.config.ts
frontend/tsconfig.tsbuildinfo
.env
*.apk
extracted/*
dist
build
database.sqlite
database.sqlite-*
*.log
.DS_Store
